" set tab width
set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab
set autoindent

" use system clipboard by default
set clipboard=unnamedplus

" make more like an editor
set number relativenumber
syntax on

" clear the fluff that is printed when run
let skip_defaults_vim=1
set viminfo=
set vb t_vb=

" bind :C to clear search buffer
:command C let @/=''

fun! StripTrailingWhitespace()
    let l:save = winsaveview()
    keeppatterns %s/\s\+$//e
    call winrestview(l:save)
endfun

" bind :W to strip all trailing whitepace
:command W call StripTrailingWhitespace()

" make airline use powerline icons
let g:airline_powerline_fonts = 1

