Host desktop
    Hostname 9wfscoalrb.duckdns.org
    User user
    HostKeyAlias desktop
    Port 22
    IdentityFile ~/.ssh/ssh_key

Host fde-desktop
    Hostname 9wfscoalrb.duckdns.org
    User root
    HostKeyAlias fde-desktop
    Port 22
    IdentityFile ~/.ssh/ssh_key

Host git
    User git
    Hostname 9wfscoalrb.duckdns.org
    HostKeyAlias gitserver
    Port 22
    IdentityFile ~/.ssh/git_key

Host github.com
    User git
    Hostname github.com
    Port 22
    IdentityFile ~/.ssh/git_key
