# make nvim default editor
export EDITOR="nvim"
alias vi="nvim"
alias vim="nvim"
alias view="nvim -M"

# remove less history file
export LESSHISTFILE=/dev/null

# store last 1000 commands in memory
HISTSIZE=1000
# no history file
HISTFILE=/dev/null
SAVEHIST=0

# various options that I don't like
setopt nomatch
unsetopt appendhistory autocd beep extendedglob notify

# personal settings
ls() {
    command ls -lashFv "$@"
}

pls() {
    command sudo "$@"
}

switch() {
    # TODO for flakes
    sudo nixos-rebuild switch --impure --flake /etc/nixos/nix_config/"$@"
}

hard() {
    "$@" && shutdown now
}

clean() {
    # TODO for flakes
    sudo nix-store --verify --check-contents --repair || return -1
    sudo nixos-rebuild switch --upgrade boot --repair || return -1
    sudo nix-collect-garbage || return -1
}

git() {
    if [[ $@ == "graph" ]]; then
        command git log --all --decorate --oneline --graph

    elif [[ $1 == "new" ]]; then
        # $2 = response
        if [[ "2" != "$#" ]]
        then
            echo "git new only takes 1 argument, the project name"
            return -1
        fi
        # check if already exists
        local gitDir="/home/user/git"
        if [ -d "$gitDir/$2" ] || ssh -q server [ -d "$gitDir/$2" ]; connStatus=$?
        then
            echo "project with this name exists"
            return -1
        fi
        # connection check
        if [[ $connStatus != "0" ]]
        then
            echo "no connection to server"
            return -1
        fi
        # remote
        ssh server "mkdir $gitDir/$2; cd $gitDir/$2; git --bare init"
        # local
        mkdir $gitDir/$2
        cd $gitDir/$2
        touch .gitignore
        command git init
        command git add .
        command git commit -m "Initial commit"
        command git remote add origin server:$gitDir/$2
        command git push --set-upstream origin

    else
        command git "$@"
    fi
}

