[theme]
theme = "plain"


[[block]]
block = "battery"
empty_format = " BAT $percentage {$time|} "
format = " BAT $percentage {$time|} "
full_format = " BAT $percentage {$time|} "
interval = 60
not_charging_format = " BAT $percentage {$time|} "


[[block]]
block = "cpu"
format = " CPU $utilization "
interval = 1


[[block]]
block = "disk_space"
format = " DISK $used/$total "
path = "/"


[[block]]
block = "memory"
format = " MEM $mem_used/$mem_total "
format_alt = " SWP $swap_used/$swap_total "
interval = 5


[[block]]
block = "net"
format = " {AP $ssid|LAN} {$ip|$ipv6}{ $signal_strength|} "

[[block.click]]
button = "left"
cmd = "alacritty -e nmtui"


[[block]]
block = "sound"
max_vol = 100
show_volume_when_muted = true
step_width = 1


[[block]]
block = "backlight"
cycle = [1, 100]
device = "intel_backlight"
maximum = 100
minimum = 1
step_width = 1


[[block]]
block = "time"
format = " $timestamp.datetime(f:'%Y/%m/%d %H:%M:%S') "
interval = 1
timezone = "America/New_York"
