[[block]]
block = "battery"
driver = "sysfs"
interval = 60
format = "{percentage} {time}"
missing_format = true

[[block]]
block = "cpu"
interval = 1
format = "{utilization}"

[[block]]
block = "disk_space"
path = "/"
format = "DISK {used}/{total}"

[[block]]
block = "external_ip"
format = "IP {ip}"

[[block]]
block = "memory"
format_mem = "{mem_used}/{mem_total}"
format_swap = "{swap_used}/{swap_total}"
display_type = "memory"
clickable = true
interval = 5

[[block]]
block = "networkmanager"
on_click = "alacritty -e nmtui"
ap_format = "AP {ssid} {strength}"
device_format = "NET {name} {ap} {ips}"

[[block]]
block = "sound"
format = "{volume}"

[[block]]
block = "backlight"
cycle = []
device = "intel_backlight"

[[block]]
block = "time"
format = "%Y/%m/%d %H:%M:%S"
timezone = "America/New_York"
interval = 1

