/* settings */

:root {
  --light-color: 255, 255, 255;
  --dark-color: 0, 0, 0;
  --navbarWidth: 40vw
}


/* hide everything */

#alltabs-button,
toolbarbutton#scrollbutton-up,
toolbarbutton#scrollbutton-down,
#urlbar-search-mode-indicator,
#PersonalToolbar,
#CustomizeToolbarWindow,
#page-action-buttons,
#back-button,
#forward-button,
#reload-button,
/* caution pop ups get bugged if this is hidden */
#PanelUI-button,
#tabs-newtab-button,
.tab-close-button,
#tracking-protection-icon-container {
  display: none !important;
}

#navigator-toolbox {
  border: none !important;
}


/*navigator bar dimensions*/

#TabsToolbar {
  margin-left : var(--navbarWidth) !important;
}

#nav-bar {
  margin-right: calc(100vw - var(--navbarWidth)) !important;
}

#urlbar-container {
  min-width   : 0px !important;
}

:root:not([uidensity="compact"]):not([uidensity="touch"]) #nav-bar {
  margin-top  : -44px !important;
  height      : 44px !important;
}


/* colorscheme */

/* title bar color */
.titlebar-color{
color: rgba(var(--dark-color), 1) !important;
background-color: rgba(var(--dark-color), 1) !important;
}

/* title bar background and tab bar background */
#titlebar,
#TabsToolbar {
  background: rgba(var(--dark-color), 1) !important;
}

/* make background of url bar dark */
toolbar#nav-bar {
  background: rgba(var(--dark-color), 1) !important;
}

/* make sidebars dark theme */
#sidebar-box{ background-color: rgba(var(--dark-color), 1) !important; }
#sidebar-box,
.sidebar-panel{ color: rgba(var(--light-color), 1) !important; }

/* make selected tab dark theme */
tab[selected="true"] .tab-content {
  color: rgba(var(--dark-color), 1) !important;
  box-shadow: none !important;
}
tab[selected="true"] .tab-background {
  background: rgba(var(--light-color), 1) !important;
}

/* make non selected tab dark theme */
.tabbrowser-tab:not([visuallyselected="true"]),
.tabbrowser-tab:-moz-lwtheme {
  color: rgba(var(--light-color), 1) !important;
  background: rgba(var(--dark-color), 1) !important;
  box-shadow: none !important;
}

/* make url bar dark theme */
#urlbar {
  color: rgba(var(--light-color), 1) !important;
}
#urlbar-background {
  background: rgba(var(--dark-color), 1) !important;
}

