#general {
#        output_format = "dzen2"
#        colors = true
#        interval = 5
#}

order += "ipv6"
order += "disk /"
order += "wireless wlp0s20f3"
order += "battery 1"
order += "cpu_temperature 0"
order += "memory"
order += "load"
order += "tztime america"

wireless wlp0s20f3 {
        format_up = "WIFI: %quality %essid %ip"
        format_down = "WIFI: down"
}

battery 1 {
        format = "%status %percentage"
        format_down = "NONE"
        status_chr = "CHR"
        status_bat = "BAT"
        status_unk = "UNK"
        status_full = "FULL"
        path = "/sys/class/power_supply/BAT%d/uevent"
        low_threshold = 10
}

tztime america {
        format = "%Y-%m-%d %H:%M:%S"
        timezone = "America/New_York"
}

load {
        format = "LOAD: %1min"
}

cpu_temperature 0 {
        format = "T: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/hwmon/hwmon4/temp1_input"
}

memory {
        format = "MEM: %free"
}

disk "/" {
        format = "DISK: %free"
}

# TODO add brightness & volume
