" TODO make vim autocomplete work better

set tabstop=4
set softtabstop=4
set shiftwidth=4
set expandtab
set autoindent

set number
syntax on

set clipboard+=unnamedplus

let skip_defaults_vim=1
set viminfo=
set vb t_vb=

:command C let @/=''

fun! StripTrailingWhitespace()
    let l:save = winsaveview()
    keeppatterns %s/\s\+$//e
    call winrestview(l:save)
endfun

:command W call StripTrailingWhitespace()

