# make nvim default editor
export EDITOR="nvim"
alias vi="nvim"
alias vim="nvim"
alias view="nvim -M"

# store last 1000 commands in memory
HISTSIZE=1000
# no history file
HISTFILE=/dev/null
SAVEHIST=0

# various options that I don't like
setopt nomatch
unsetopt appendhistory autocd beep extendedglob notify

# personal settings
alias ls='ls -lashFv'
alias switch='sudo nixos-rebuild switch --upgrade boot'
alias hard-switch='sudo nixos-rebuild switch --upgrade boot; shutdown -r now'
alias clean='sudo nix-store --verify --check-contents --repair; sudo nixos-rebuild switch --upgrade boot --repair; sudo nix-collect-garbage'

git() {
  if [[ $@ == "graph" ]]; then
    command git log --all --decorate --oneline --graph
  else
    command git "$@"
  fi
}

# TODO git new for a git project on server
if [[ -z "$TMUX" ]]; then (tmux; exit); fi
