# TODO make alacritty run dtach for the terminal, but all the names need to be different

# make nvim default editor
export EDITOR="nvim"
alias vi="nvim"
alias vim="nvim"
alias view="nvim -M"

# store last 1000 commands in memory
HISTSIZE=1000
# no history file
HISTFILE=/dev/null
SAVEHIST=0

# various options that I don't like
setopt nomatch
unsetopt appendhistory autocd beep extendedglob notify

# personal settings
ls() {
    command ls -lashFv "$@"
}

pls() {
    command sudo "$@"
}

switch() {
    sudo nixos-rebuild switch --upgrade boot
}

hard-switch() {
    switch && shutdown -r now
}

clean() {
    sudo nix-store --verify --check-contents --repair || return -1
    sudo nixos-rebuild switch --upgrade boot --repair || return -1
    sudo nix-collect-garbage || return -1
}

git() {
    if [[ $@ == "graph" ]]; then
        command git log --all --decorate --oneline --graph
    elif [[ $1 == "new" ]]; then
        gitNew "${@:2}"
    else
        command git "$@"
    fi
}

function gitNew () {
    # $1 = response
    if ["0" != "$#"]
    then
        echo "git new only takes 1 argument, the project name"
        return -1
    fi
    # check if already exists
    local gitDir="/home/user/git"
    if [ -d "$gitDir/$1" ] || ssh -q server [ -d "$gitDir/$1" ]; connStatus=$?
    then
        echo "project with this name exists"
        return -1
    fi
    # connection check
    if [[ $connStatus != "0" ]]
    then
        echo "no connection to server"
        return -1
    fi
    # remote
    ssh server "mkdir $gitDir/$1; cd $gitDir/$1; git --bare init"
    # local
    mkdir $gitDir/$1
    cd $gitDir/$1
    touch .gitignore
    command git init
    command git add .
    command git commit -m "Initial commit"
    command git remote add origin server:$gitDir/$1
    command git push --set-upstream origin
}

